body{
	margin:0px;
	font-family:roboto;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 14px;
	overflow: hidden;
	}
ul{
	list-style: none;
	-webkit-margin-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	border:0px solid black;
}

li{
	-webkit-margin-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

header, #body{
	width:960px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
}

.todoList{
	float:left;
	white-space: nowrap;
	height: 100%;
}

.todoList:first-child{
	width: 30%;
	float: left;
}

.todoList:last-child{

	width: 70%;
	float:left;
}



.NewTask{
	width: 100%;
}

.NewTask li{
	padding: 5px;
	width: 70%;
	
}

.CompleteTask{
	background: Green;	
}

.IncompleteTask{
	/*background: yellow;*/
}

/********************************************
Below code for kendo-ui/notification/templates
*******************************************/
/* Error template */
.k-notification-error.k-group {
    background: rgba(100%,0%,0%,.7) !important;
	color: #ffffff;
}

.k-notification-upload-success.k-group {
    background: rgba(0%,80%,0%,.7) !important;
	color: #fff;
}

.wrong-pass, .upload-success{
	filter: alpha(opacity=60);
	opacity: 50%;
	width: 250px;
}

.notification-header{
    height:25%;
	margin-top:15px;
}
.notification-body{
    height:75%;
	padding: 0px 15px;;
	color: #fff;
}
.notification-title{
	margin-top:10px;
	font-size: 1.5em;
    line-height: 35px;
	font-weight: bold;
	color: #fff;
}

.wrong-pass .img, .upload-success .img {
	float: left;
    margin: 0px 10px 0px 15px;
    height: 40px;
	width: 40px;
    background-repeat: no-repeat;
}
.wrong-pass .img {
	background-image: url(../images/error-icon.png);
}

.upload-success .img {
	background-image: url(../images/success-icon.png);
}
.k-datepicker .k-i-calendar{
    margin-top: 7px;
}

.TaskList{
	width: 100%;
	max-height: 70%;
	transition: all 1s ease-in-out;
	transition-delay: 1s;
	transition-duration: 1s;
	overflow: hidden;
}

.TaskList:hover{
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	overflow: scroll;
	overflow-x:hidden;
}

.TaskItem{
	border-bottom: 1px solid silver;
	display: block;
	padding:10px;
	width:100%;
	min-height:90px;
	
}



.TaskItem  .TaskLable{
	font-weight: bold;
}

.TaskItem > div{
	padding: 5px;
	float: left;
}

.TaskActions{
	position: absolute; top: 5px; right: 30px;
}

.TaskActions span{
	margin-bottom: 5px;
}

.full-width{
	width:90% !important;
	word-wrap: break-word;
	white-space: nowrap;
	display: inline-block;
}

.DateVal{
	font-size: 12px;
}
.required{
	color:red;
}